__pycache__
*.pyc
*.egg-info/
*.eggs
*.pid
beat.*
dev/migrations/
instance/*
!instance/testing.py
.python-version
.pytest_cache/
docs/_build/

.tox/
.coverage*
*.log*
!.coveragerc
htmlcov/
build
dist
.idea
